@tailwind base;
@tailwind components;
@tailwind utilities;
.prose iframe,
.prose img {
    max-width: 100%;
}

.prose * {
    background-color: transparent !important;
    color: inherit !important;
}
